<div id="export-component">
        <p-card>
  <h2>Attivita Export</h2>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">Dal</span>
              <input #dataDal type="date" pInputText placeholder="Data dal">         
          </div>
      </div>
          <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">Al</span>
                  <input #dataAl type="date" pInputText placeholder="Data al">         
              </div>
          </div>
      
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">@</span>
              <input #email type="text" pInputText placeholder="email sviluppatore">        
          </div>
      </div>
              
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input #progetto type="text" pInputText placeholder="codice progetto">      
          </div>
      </div>
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input #cliente type="text" pInputText placeholder="codice cliente">      
          </div>
      </div>
  </div>
  
  <p>
  <button pButton type="button" label="Csv" icon="fa fa-file-text-o"  (click)="csvSearch(dataDal.value, dataAl.value, email.value, progetto.value, cliente.value)"></button>
  <button pButton type="button" label="Json" icon="fa fa-file-code-o" (click)="jsonSearch(dataDal.value, dataAl.value, email.value, progetto.value, cliente.value)"></button>
  <button pButton type="button" label="Excel" icon="fa fa-file-excel-o" (click)="excelSearch(dataDal.value, dataAl.value, email.value, progetto.value, cliente.value)"></button>
  <button pButton type="button" label="PDF" icon="fa fa-file-pdf-o" (click)="pdfSearch(dataDal.value, dataAl.value, email.value, progetto.value, cliente.value)"></button>
  </p>  
  </p-card>