<div *ngIf="attivita">
  <p-card>
    <h2>Attivita Details</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{attivita.uuid}}</td></tr>
              <tr><td>Data:</td><td>{{attivita.data}}</td></tr>
              <tr><td>Ore:</td><td>{{attivita.ore}}</td></tr>
              <tr><td>Descrizione:</td><td>{{attivita.descrizione}}</td></tr>
              <tr><td>Sviluppatore:</td><td>{{attivita.email_sviluppatore}}</td></tr>
              <tr><td>Progetto:</td><td>{{attivita.codice_progetto}}</td></tr>
              <tr><td>Citta:</td><td>{{attivita.citta}}</td></tr>
              <tr><td>Operatore:</td><td>{{attivita.operatore}}</td></tr>
              <tr><td>Upload Operation:</td><td>{{attivita.uuid_uploadoperation}}</td></tr>
              <tr><td>Active:</td><td>{{attivita.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <button pButton type="button" label="go back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p-card>
</div>
