<div *ngIf="attivita">
  <p-card>
    <h2>Attivita Details</h2>
    <table>
      <tbody>
        <td>
            <tr><td>uuid:</td><td>{{attivita.uuid}}</td></tr>
            <tr><td>Data:</td><td><input [(ngModel)]="attivita.data" placeholder="data" type="date"></td></tr>
            <tr><td>Ore:</td><td><input [(ngModel)]="attivita.ore" placeholder="ore" type="number"></td></tr>
            <tr><td>Descrizione:</td><td><input [(ngModel)]="attivita.descrizione" placeholder="descrizione"></td></tr>
            <tr><td>Sviluppatore:</td><td><input [(ngModel)]="attivita.email_sviluppatore" placeholder="email_sviluppatore"></td></tr>
            <tr><td>Progetto:</td><td><input [(ngModel)]="attivita.codice_progetto" placeholder="codice_progetto"></td></tr>
            <tr><td>Citta:</td><td><input [(ngModel)]="attivita.citta" placeholder="citta"></td></tr>
            <tr><td>Operatore:</td><td><input [(ngModel)]="attivita.operatore" placeholder="operatore"></td></tr>
            <tr><td>Upload Operation:</td><td><input [(ngModel)]="attivita.uuid_uploadoperation" placeholder="uuid_uploadoperation"></td></tr>
            <tr><td>Active:</td><td>{{attivita.active}}</td></tr>
        </td>
      </tbody>
    </table>
    <button pButton type="button" label="save" icon="fa fa-save" style="margin-right: .25em" (click)="save()"></button>
    <button pButton type="button" label="go back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p-card>
</div>
  
