<div id="search-component">
    <p-card>
  <h4>Attivita Search</h4>

  <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">Dal</span>
              <input #dataDal type="date" pInputText placeholder="Data dal">         
          </div>
      </div>
          <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">Al</span>
                  <input #dataAl type="date" pInputText placeholder="Data al">         
              </div>
          </div>
      
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">@</span>
              <input #email type="text" pInputText placeholder="email sviluppatore">        
          </div>
      </div>
              
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input #progetto type="text" pInputText placeholder="codice progetto">      
          </div>
      </div>
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input #codiceCliente type="text" pInputText placeholder="codice cliente">      
          </div>
      </div>
  </div>

  <p><button pButton type="button" label="Search" icon="pi pi-search" (click)="search(dataDal.value, dataAl.value, email.value, progetto.value, codiceCliente.value)"></button></p>
  <ul class="search-result">
    <li *ngFor="let attivita of attivitas$ | async" >
      <a routerLink="/attivita-detail/{{attivita.uuid}}">
        {{attivita.descrizione}}
      </a>
    </li>
  </ul>
</p-card>
</div>
