
<p-card>
<h2> Lista delle attivita</h2>
<div class= "button-group">
  <button pButton type="button" label="Ricerca" icon="pi pi-search" routerLink="/attivita-search"></button>
  <button pButton type="button" label="Upload" icon="pi pi-upload" routerLink="/attivita-upload"></button>
  <button pButton type="button" label="Export" icon="fa fa-download" routerLink="/attivita-export"></button>
  <button pButton type="button" label="Add" icon="pi pi-plus"routerLink="/attivita-add"></button>
  
</div>

<div>
  
  <table class="attivitas">
    <tr>
      <th>Data</th>
      <th>Descrizione</th>
      <th>Codice Progetto</th>
      <th>Email Sviluppatore</th>
    </tr>
    <tr *ngFor="let attivita of attivitas" >
      <td> {{attivita.data}}</td>
      <td> {{attivita.descrizione}}</td>
      <td> {{attivita.codice_progetto}}</td>
      <td> {{attivita.email_sviluppatore}}</td>
      <td><button pButton type="button" label="View" icon="fa fa-eye" routerLink="/attivita-detail/{{attivita.uuid}}"></button></td>
      <td><button pButton type="button" label="Edit" icon="fa fa-edit" routerLink="/attivita-edit/{{attivita.uuid}}"></button></td>
      <td><div class="content-section implementation">
          <p-growl [value]="msgs"></p-growl>
          <p-confirmDialog></p-confirmDialog>
          <button type="button" (click)="confirm2(attivita)" pButton icon="pi pi-times" label="Delete"></button>
      </div></td>
    </tr>
  </table>
</div>
<br/>
<div>
  <a (click)="prevPage()"> &laquo; Indietro </a>
  <a (click)="nextPage()"> Avanti &raquo; </a>
</div>
</p-card>