<div>
    <p-card>
    <h2>Aggiungi attivita</h2>
    <table>
        <tbody>
          <td>
              <tr><td>Data:</td><td><input #dataAttivita type="date"></td></tr>
              <tr><td>Ore:</td><td><input #oraAttivita type="number"></td></tr>
              <tr><td>Descrizione:</td><td><input #descrizioneAttivita></td></tr>
              <tr><td>Sviluppatore:</td><td><input #emailsviluppatoreAttivita></td></tr>
              <tr><td>Progetto:</td><td><input #codiceprogettoAttivita></td></tr>
              <tr><td>Citta:</td><td><input #cittaAttivita></td></tr>
              <tr><td>Operatore:</td><td><input #operatoreAttivita></td></tr>
          </td>
        </tbody>
      </table>
    <p>
    <button pButton type="button" label="add" icon="pi pi-plus" style="margin-right: .25em" (click)="add(dataAttivita.value, oraAttivita.value, descrizioneAttivita.value, codiceprogettoAttivita.value, 
    emailsviluppatoreAttivita.value, cittaAttivita.value, operatoreAttivita.value); dataAttivita.value=''; oraAttivita.value=''; descrizioneAttivita.value='';
    codiceprogettoAttivita.value=''; emailsviluppatoreAttivita.value=''; cittaAttivita.value=''; operatoreAttivita.value=''">
    </button>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>