  <div>
      <p-card>
      <h2>Aggiungi Sviluppatore</h2>
      <table>
          <tbody>
            <td>
                <tr><td>Nome:</td><td><input #nomeSviluppatore ></td></tr>
                <tr><td>Cognome:</td><td><input #cognomeSviluppatore ></td></tr>
                <tr><td>Email:</td><td><input #emailSviluppatore></td></tr>
            </td>
          </tbody>
        </table>
      <p>
      <button pButton type="button" label="add" icon="pi pi-plus" style="margin-right: .25em" ((click)="add(nomeSviluppatore.value, cognomeSviluppatore.value, emailSviluppatore.value ); 
      nomeSviluppatore.value=''; cognomeSviluppatore.value=''; emailSviluppatore.value=''">
      </button>
      <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
    </p>
    </p-card>
    </div>
