<div *ngIf="sviluppatore">
    <p-card>
    <h2>Aggiungi Sviluppatore</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{sviluppatore.uuid}}</td></tr>
              <tr><td>Nome:</td><td><input [(ngModel)]="sviluppatore.nome" placeholder="nome"></td></tr>
              <tr><td>Cognome:</td><td><input [(ngModel)]="sviluppatore.cognome" placeholder="cognome"></td></tr>
              <tr><td>Email:</td><td><input [(ngModel)]="sviluppatore.email" placeholder="email"></td></tr>
              <tr><td>active:</td><td>{{sviluppatore.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <p>
    <button pButton type="button" label="save" icon="fa fa-save" style="margin-right: .25em" (click)="save()"></button>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>