<div id="search-component">
  <h4>Sviluppatore Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let sviluppatore of sviluppatori$ | async" >
      <a routerLink="/sviluppatore-detail/{{sviluppatore.uuid}}">
        {{sviluppatore.nome}}
      </a>
    </li>
  </ul>
</div>