<p-card>
  <h2> Lista degli sviluppatori</h2>
  <div class="button-group">
    <button pButton type="button" label="Ricerca" icon="pi pi-search" routerLink="/sviluppatore-search"></button>
    <button pButton type="button" label="Add" icon="pi pi-plus" routerLink="/sviluppatore-add"></button>
  </div>

  <div>

    <table class="sviluppatori">
      <tr>
        <th>Nome</th>
        <th>cognome</th>
        <th>email</th>
      </tr>
      <tr *ngFor="let sviluppatore of sviluppatori">
        <td> {{sviluppatore.nome}}</td>
        <td> {{sviluppatore.cognome}}</td>
        <td> {{sviluppatore.email}}</td>
        <td>
          <button pButton type="button" label="View" icon="fa fa-eye" routerLink="/sviluppatore-detail/{{sviluppatore.uuid}}"></button>
        </td>
        <td>
          <button pButton type="button" label="Edit" icon="fa fa-edit" routerLink="/sviluppatore-edit/{{sviluppatore.uuid}}"></button>
        </td>
        <td>
          <div class="content-section implementation">
            <p-growl [value]="msgs"></p-growl>
            <p-confirmDialog></p-confirmDialog>
            <button type="button" (click)="confirm2(sviluppatore)" pButton icon="pi pi-times" label="Delete"></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>
  <div>
    <a (click)="prevPage()"> &laquo; Indietro </a>
    <a (click)="nextPage()"> Avanti &raquo; </a>
  </div>
</p-card>