<div class="ui-g-12 ui-g-nopad">
	<div class="cs-loader">
		<div class="cs-loader-inner MBlue">
			<label> ●</label>
			<label> ●</label>
			<label> ●</label>
			<label> ●</label>
			<label> ●</label>
			<label> ●</label>
		</div>
	</div>
</div>