<div id="search-component">
  <h4>Cliente Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let cliente of clienti$ | async" >
      <a routerLink="/cliente-detail/{{cliente.uuid}}">
        {{cliente.nome}}
      </a>
    </li>
  </ul>
</div>
