<div>
    <p-card>
    <h2>Modifica Cliente</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{cliente.uuid}}</td></tr>
              <tr><td>Nome:</td><td><input [(ngModel)]="cliente.nome" placeholder="nome"></td></tr>
              <tr><td>Acrive:</td><td>{{cliente.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <p>
    <button pButton type="button" label="save" icon="fa fa-save" style="margin-right: .25em" (click)="save()"></button>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>
