  <div>
      <p-card>
      <h2>Aggiungi Cliente</h2>
      <table>
          <tbody>
            <td>
                <tr><td>Nome:</td><td><input #nomeCliente></td></tr>
            </td>
          </tbody>
        </table>
      <p>
      <button pButton type="button" label="add" icon="pi pi-plus" style="margin-right: .25em" (click)="add(nomeCliente.value); nomeCliente.value=''">
      </button>
      <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
    </p>
    </p-card>
    </div>
