<p-card>
    <h2> Lista dei clienti</h2>
    <div class= "button-group">
      <button pButton type="button" label="Ricerca" icon="pi pi-search" routerLink="/cliente-search"></button>
      <button pButton type="button" label="Add" icon="pi pi-plus"routerLink="/cliente-add"></button>
      
    </div>
    
    <div>
      
      <table class="clienti">
        <tr>
          <th>Nome</th>
        </tr>
        <tr *ngFor="let cliente of clienti" >
            <td>{{cliente.nome}}</td>
          <td><button pButton type="button" label="View" icon="fa fa-eye" routerLink="/cliente-detail/{{cliente.uuid}}"></button></td>
          <td><button pButton type="button" label="Edit" icon="fa fa-edit" routerLink="/cliente-edit/{{cliente.uuid}}"></button></td>
          <td><div class="content-section implementation">
              <p-growl [value]="msgs"></p-growl>
              <p-confirmDialog></p-confirmDialog>
              <button type="button" (click)="confirm2(cliente)" pButton icon="pi pi-times" label="Delete"></button>
          </div></td>
        </tr>
      </table>
    </div>
    <br/>
    <div>
      <a (click)="prevPage()"> &laquo; Indietro </a>
      <a (click)="nextPage()"> Avanti &raquo; </a>
    </div>
    </p-card>

