<div id="search-component">
  <h4>Autorizzazione Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let autorizzazione of autorizzazioni$ | async" >
      <a routerLink="/autorizzazione-detail/{{autorizzazione.uuid}}">
        {{autorizzazione.uuid_progetto}}
      </a>
    </li>
  </ul>
</div>