<div>
    <p-card>
    <h2>Aggiungi Autorizzazione</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{autorizzazione.uuid}}</td></tr>
              <tr><td>data_inizio:</td><td><input [(ngModel)]="autorizzazione.data_inizio" placeholder="data_inizio"></td></tr>
              <tr><td>data_fine:</td><td><input [(ngModel)]="autorizzazione.data_fine" placeholder="data_fine"></td></tr>
              <tr><td>uuid_progetto:</td><td><input [(ngModel)]="autorizzazione.uuid_progetto" placeholder="uuid_progetto"></td></tr>
              <tr><td>progetto:</td><td><input [(ngModel)]="autorizzazione.progetto" placeholder="progetto"></td></tr>
              <tr><td>uuid_sviluppatore:</td><td><input [(ngModel)]="autorizzazione.uuid_sviluppatore" placeholder="uuid_sviluppatore"></td></tr>
              <tr><td>sviluppatore:</td><td><input [(ngModel)]="autorizzazione.sviluppatore" placeholder="sviluppatore"></td></tr>
              <tr><td>active:</td><td>{{autorizzazione.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <p>
        <button pButton type="button" label="save" icon="fa fa-save" style="margin-right: .25em" (click)="save()"></button>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>
