<div>
    <p-card>
    <h2>Dettagli Autorizzazione</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{autorizzazione.uuid}}</td></tr>
              <tr><td>data_inizio:</td><td>{{autorizzazione.data_inizio}}</td></tr>
              <tr><td>data_fine:</td><td>{{autorizzazione.data_fine}}</td></tr>
              <tr><td>uuid_progetto:</td><td>{{autorizzazione.uuid_progetto}}</td></tr>
              <tr><td>progetto:</td><td>{{autorizzazione.progetto}}</td></tr>
              <tr><td>uuid_sviluppatore:</td><td>{{autorizzazione.uuid_sviluppatore}}</td></tr>
              <tr><td>sviluppatore:</td><td>{{autorizzazione.sviluppatore}}</td></tr>
              <tr><td>active:</td><td>{{autorizzazione.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <p>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>