  <div>
      <p-card>
      <h2>Aggiungi Autorizzazione</h2>
      <table>
          <tbody>
            <td>
                <tr><td>data_inizio:</td><td><input #datainizioAutorizzazione type="date"></td></tr>
                <tr><td>data_fine:</td><td><input #datafineAutorizzazione type="date"></td></tr>
                <tr><td>uuid_progetto:</td><td><input #uuidprogettoAutorizzazione></td></tr>
                <tr><td>progetto:</td><td><input #progettoAutorizzazione></td></tr>
                <tr><td>uuid_sviluppatore:</td><td><input #uuidsviluppatoreAutorizzazione></td></tr>
                <tr><td>sviluppatore:</td><td><input #sviluppatoreAutorizzazione></td></tr>
            </td>
          </tbody>
        </table>
      <p>
      <button pButton type="button" label="add" icon="pi pi-plus" style="margin-right: .25em" (click)="add(datainizioAutorizzazione.value, datafineAutorizzazione.value, uuidprogettoAutorizzazione.value, progettoAutorizzazione.value, uuidsviluppatoreAutorizzazione.value, sviluppatoreAutorizzazione.value); 
      datainizioAutorizzazione.value=''; datafineAutorizzazione.value=''; uuidprogettoAutorizzazione.value=''; progettoAutorizzazione.value=''; uuidsviluppatoreAutorizzazione.value=''; sviluppatoreAutorizzazione.value=''">
      </button>
      <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
    </p>
    </p-card>
    </div>