<p-card>
    <h2> Lista delle autorizzazioni</h2>
    <div class= "button-group">
      <button pButton type="button" label="Ricerca" icon="pi pi-search" routerLink="/autorizzazione-search"></button>
      <button pButton type="button" label="Add" icon="pi pi-plus"routerLink="/autorizzazione-add"></button>
      
    </div>
    
    <div>
      
      <table class="autorizzazioni">
        <tr>
          <th>Data inizio</th>
          <th>Data fine</th>
          <th>Progetto</th>
          <th>Sviluppatore</th>
        </tr>
        <tr *ngFor="let autorizzazione of autorizzazioni" >
            <td>{{autorizzazione.data_inizio}}</td>
            <td> {{autorizzazione.data_fine}}</td>
            <td> {{autorizzazione.uuid_progetto}}</td>
            <td> {{autorizzazione.uuid_sviluppatore}}</td>
          <td><button pButton type="button" label="View" icon="fa fa-eye" routerLink="/autorizzazione-detail/{{autorizzazione.uuid}}"></button></td>
          <td><button pButton type="button" label="Edit" icon="fa fa-edit" routerLink="/autorizzazione-edit/{{autorizzazione.uuid}}"></button></td>
          <td><div class="content-section implementation">
              <p-growl [value]="msgs"></p-growl>
              <p-confirmDialog></p-confirmDialog>
              <button type="button" (click)="confirm2(autorizzazione)" pButton icon="pi pi-times" label="Delete"></button>
          </div></td>
        </tr>
      </table>
    </div>
    <br/>
    <div>
      <a (click)="prevPage()"> &laquo; Indietro </a>
      <a (click)="nextPage()"> Avanti &raquo; </a>
    </div>
    </p-card>