<div class="ui-g ui-fluid dashboard">
    <div class="ui-g-12">
        <div class="card">
            <div class="ui-g">
                <div class="ui-g-12">
                    <span class="Fs20 Blue FontBold">Home</span>
                </div>
            </div>
        </div>
    </div>
</div>
