<div *ngIf="progetto">
        <p-card>
        <h2>Aggiungi Progetto</h2>
        <table>
            <tbody>
              <td>
                  <tr><td>uuid:</td><td>{{progetto.uuid}}</td></tr>
                  <tr><td>Nome:</td><td>{{progetto.nome}}</td></tr>
                  <tr><td>Codice:</td><td>{{progetto.codice}}</td></tr>
                  <tr><td>sviluppatore:</td><td>{{progetto.sviluppatore}}</td></tr>
                  <tr><td>responsabile:</td><td>{{progetto.responsabile}}</td></tr>
                  <tr><td>Cliente:</td><td>{{progetto.cliente}}</td></tr>
                  <tr><td>uuidCliente:</td><td>{{progetto.uuid_cliente}}</td></tr>
                  <tr><td>active:</td><td>{{progetto.active}}</td></tr>
              </td>
            </tbody>
          </table>
        <p>
        <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
      </p>
      </p-card>
      </div>