<div>
    <p-card>
    <h2>Aggiungi Progetto</h2>
    <table>
        <tbody>
          <td>
              <tr><td>uuid:</td><td>{{progetto.uuid}}</td></tr>
              <tr><td>Nome:</td><td><input [(ngModel)]="progetto.nome" placeholder="nome"></td></tr>
              <tr><td>Codice:</td><td><input [(ngModel)]="progetto.codice" placeholder="codice"></td></tr>
              <tr><td>sviluppatore:</td><td><input [(ngModel)]="progetto.sviluppatore" placeholder="sviluppatore"></td></tr>
              <tr><td>responsabile:</td><td><input [(ngModel)]="progetto.responsabile" placeholder="responsabile"></td></tr>
              <tr><td>Cliente:</td><td><input [(ngModel)]="progetto.cliente" placeholder="cliente"></td></tr>
              <tr><td>uuidCliente:</td><td><input [(ngModel)]="progetto.uuid_cliente" placeholder="uuid_cliente"></td></tr>
              <tr><td>active:</td><td>{{progetto.active}}</td></tr>
          </td>
        </tbody>
      </table>
    <p>
    <button pButton type="button" label="save" icon="fa fa-save" style="margin-right: .25em" (click)="save()"></button>
    <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
  </p>
  </p-card>
  </div>