  <div>
      <p-card>
      <h2>Aggiungi Progetto</h2>
      <table>
          <tbody>
            <td>
                <tr><td>Nome:</td><td><input #nomeProgetto ></td></tr>
                <tr><td>Codice:</td><td><input #codiceProgetto ></td></tr>
                <tr><td>sviluppatore:</td><td><input #sviluppatoreProgetto></td></tr>
                <tr><td>responsabile:</td><td><input #responsabileProgetto></td></tr>
                <tr><td>Cliente:</td><td><input #nomeClienteProgetto></td></tr>
                <tr><td>uuidCliente:</td><td><input #uuidClienteProgetto></td></tr>
            </td>
          </tbody>
        </table>
      <p>
      <button pButton type="button" label="add" icon="pi pi-plus" style="margin-right: .25em" (click)="add(nomeProgetto.value, codiceProgetto.value, sviluppatoreProgetto.value, responsabileProgetto.value, nomeClienteProgetto.value, uuidClienteProgetto.value );
      nomeProgetto.value=''; codiceProgetto.value=''; sviluppatoreProgetto.value='';responsabileProgetto.value.value=''; nomeClienteProgetto.value=''; uuidClienteProgetto.value=''">>
      </button>
      <button pButton type="button" label="back" icon="fa fa-undo" style="margin-right: .25em" (click)="goBack()"></button>
    </p>
    </p-card>
    </div>
