<p-card>
    <h2> Lista dei progetti</h2>
    <div class= "button-group">
      <button pButton type="button" label="Ricerca" icon="pi pi-search" routerLink="/progetto-search"></button>
      <button pButton type="button" label="Add" icon="pi pi-plus"routerLink="/progetto-add"></button>
    </div>
    
    <div>
      
      <table class="progetti">
        <tr>
          <th>Nome</th>
          <th>Codice</th>
          <th>Responsabile</th>
          <th>Sviluppatore</th>
          <th>Cliente</th>
        </tr>
        <tr *ngFor="let progetto of progetti" >
            <td> {{progetto.nome}}</td>
            <td> {{progetto.codice}}</td>
            <td> {{progetto.responsabile}}</td>
            <td> {{progetto.sviluppatore.email}}</td>
            <td> {{progetto.cliente.nome}}</td>
          <td><button pButton type="button" label="View" icon="fa fa-eye" routerLink="/progetto-detail/{{progetto.uuid}}"></button></td>
          <td><button pButton type="button" label="Edit" icon="fa fa-edit" routerLink="/progetto-edit/{{progetto.uuid}}"></button></td>
          <td><div class="content-section implementation">
              <p-growl [value]="msgs"></p-growl>
              <p-confirmDialog></p-confirmDialog>
              <button type="button" (click)="confirm2(progetto)" pButton icon="pi pi-times" label="Delete"></button>
          </div></td>
        </tr>
      </table>
    </div>
    <br/>
    <div>
      <a (click)="prevPage()"> &laquo; Indietro </a>
      <a (click)="nextPage()"> Avanti &raquo; </a>
    </div>
    </p-card>