<div id="search-component">
  <h4>Progetto Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let progetto of progetti$ | async" >
      <a routerLink="/progetto-detail/{{progetto.uuid}}">
        {{progetto.codice}}
      </a>
    </li>
  </ul>
</div>